
.img-container img {
    width:100%;
    object-fit:cover;
}


.img-container {
    /*
    display:flex;
    flex-direction: column;
    object-fit: contain;
    gap: 0.4rem;
    */
    pointer-events: none; 
}

.img-container img{
    cursor:pointer;
}

.gallery-item{
    width:100%;
    object-fit:cover;
    position:relative;
    
}

@media (min-width: 768px) {
.img-container {
    /*
  flex-direction: row;
  width:50%;
  */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left:10%;
  margin-right:10%;
  grid-gap:2rem;
  pointer-events: auto; 
}
}

.hideClass {
    display:none;
}