.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15px;
  width: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  z-index: 9998;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  margin-top: 0.3rem;
}

.toggle-button__line {
  width: 23px;
  height: 1px;
  background: #808080;
  z-index: 9999;
  transition: all 0.3s ease-out;
  position: absolute;
  top: 1;
}

.toggle-button__line_open {
  transform: rotate(-135deg);
  margin-top: 5px;
}

.toggle-button__line_open2 {
  transform: rotate(135deg);
  margin-top: 5px;
}

.toggle-button__line_close {
  transform: rotate(-0deg);
}

.toggle-button__line_close2 {
  transform: rotate(0deg);
  margin-top: 10px;
}

/*.top_open {
    position: absolute;
    transition: all 1s ease-in;
    transform: rotate(45deg);
  }*/
@media (min-width:1024px) {
  .toggle-button {
    /*display:none;*/
  }
}