.side-drawer {
    height: 100vh;
    background: white;
    box-shadow: 2px 0px 5px rgba(0,0,0, 0.5);
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    width:100%;
}

.side-drawer ul {
    height:35%;
    list-style:none;
    display:flex;
    flex-direction: column;
    padding:30px 12% 0 12%;
}

.side-drawer li {
padding-bottom:30px;
    
}

.side-drawer a {
    color: #808080;
    font-size:1.5em;
    text-decoration: none;
}

.side-drawer a:hover ,
.side-drawer a:active {
    color:rgba(0,0,0, 0.5);
}

.side-drawer__items{
    margin:0;
}