.side-drawer {
    height: 100%;
    background: white;
    box-shadow: 2px 0px 5px rgba(0,0,0, 0.5);
    position:fixed;
    overflow:hidden;
    top:0;
    left:0;
    width:100%; 
    padding:0;
}

.side-drawer ul {
    
    list-style:none;
    display:flex;
    flex-direction: column;
    padding: 0 10% 0 10%;
    padding-top: 1.875em;
    margin:0;
}


.side-drawer a {
    color: #808080;
    font-size:1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
      
}

.side-drawer a:hover ,
.side-drawer a:active {
    color:rgba(0,0,0, 0.5);
}

.side-drawer__items {
    padding-top:60px!important;
}

.side-drawer__items li{
    padding: 30px 0 30px;
    line-height: 2;
    border-bottom: 1px solid #a2a2a2;   
}
    

.side-drawer__brand li{
    width:94%;
}
.side-drawer__brand a{
    font-size:0.85em;
    letter-spacing: 0.04em;
}

@media (min-width:769px){
    .side-drawer{
        
        display:none;
        
    }
}